---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/labels/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '25'
      X-Discogs-Ratelimit-Used:
      - '0'
      X-Discogs-Media-Type:
      - discogs.v2
    body:
      encoding: ASCII-8BIT
      string: '{"id": 15, "name": "20:20 Vision", "resource_url": "https://api.discogs.com/labels/15",
        "uri": "https://www.discogs.com/label/15-2020-Vision", "releases_url": "https://api.discogs.com/labels/15/releases",
        "images": [{"type": "primary", "uri": "", "resource_url": "", "uri150": "",
        "width": 600, "height": 600}, {"type": "secondary", "uri": "", "resource_url":
        "", "uri150": "", "width": 300, "height": 300}, {"type": "secondary", "uri":
        "", "resource_url": "", "uri150": "", "width": 150, "height": 150}, {"type":
        "secondary", "uri": "", "resource_url": "", "uri150": "", "width": 250, "height":
        44}], "contact_info": "General enquiries: info@2020recordings.com\r\nLicensing
        enquiries: info@2020recordings.com\r\n\r\n\r\n", "profile": "20/20 Vision
        \r\n\r\nAn eclectic selection of electronic music \r\n\r\nfounder - Ralph
        Lawson\r\nlocation - Leeds, UK\r\n\r\nOn some releases the label appears as
        2020Vision or 20:20 Vision or 2020 Vision Recordings ", "parent_label": {"id":
        396938, "name": "2020Vision Recordings Ltd.", "resource_url": "https://api.discogs.com/labels/396938"},
        "data_quality": "Needs Vote", "urls": ["http://www.2020recordings.com", "https://2020vision.bandcamp.com",
        "http://www.facebook.com/2020VisionRecordings", "http://www.instagram.com/2020vision_recordings",
        "http://www.myspace.com/2020soundsystem", "http://soundcloud.com/2020visionrecordings",
        "http://2020visiontour.tumblr.com", "http://twitter.com/2020Visionlabel",
        "http://www.youtube.com/user/2020recordings"], "sublabels": [{"id": 34355,
        "name": ".dotbleep", "resource_url": "https://api.discogs.com/labels/34355"},
        {"id": 877, "name": "20:20 D Vision", "resource_url": "https://api.discogs.com/labels/877"},
        {"id": 42848, "name": "20:20 Vintage Visions", "resource_url": "https://api.discogs.com/labels/42848"},
        {"id": 1554782, "name": "20:20 Vision Limited Series", "resource_url": "https://api.discogs.com/labels/1554782"},
        {"id": 416207, "name": "2020 Midnight Visions", "resource_url": "https://api.discogs.com/labels/416207"},
        {"id": 30709, "name": "Doublevision (2)", "resource_url": "https://api.discogs.com/labels/30709"},
        {"id": 44463, "name": "Infant Records", "resource_url": "https://api.discogs.com/labels/44463"},
        {"id": 29641, "name": "Nono Records (2)", "resource_url": "https://api.discogs.com/labels/29641"}]}'
  recorded_at: Mon, 05 Oct 2020 14:27:19 GMT
recorded_with: VCR 6.0.0
